* { margin:0; padding:0; box-sizing:border-box; }
header {
	margin: auto;
}
nav {
	padding: 20px;
}

nav a:link{
	font-family: Helvetica, sans-serif;
	color:rgba(62,62,68,0.5);
	margin:0 2em;
	padding-bottom:5px;
	font-size: .8em;
	text-align: right;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
}

nav a:visited{
	color: rgba(62,62,68,0.5);
}

nav a:hover{
	border-bottom: 3px solid rgba(116,200,218,0.5);
}

nav a:active{
	color:rgba(62,62,68,0.5);
}

#logo {
	float: left;
}

#nav {
	float: right;
}

.navlinks {
	color: rgba(62,68,68,0.5);
	font-size: 1.5em;
}

h1 {
	font-weight: 400;
	font-size: 2.5em;
	font-weight: 800;
	line-height: 1em;
}

h2 {
	color: rgba(116,200,218,0.5);
	font-weight: 400;
	font-size: 1.8em;
	line-height: 1em;
}

body {
	color: #0a3334;
	background-color: #FFF;
	font-size: 18px;
	font-family: Helvetica, sans-serif;
	text-align: center;
}

.work {
	width: 20%;
	padding: 5%;
	float: left;
}

a {
	text-decoration: none;
	font-weight: none;
	color: #ceecf2;
	font-size: 0.75em;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}

footer {
	padding: 20px;
}

@media only screen and (max-width: 768px) {
	body { 
		font-size: 16px;
		 }

	.work {
		width: 30%;
		padding: 10%;
		float: left;
	}

@media only screen and (max-width: 480px) {
	.work {
		width: 80%;
		padding: 10%;
		float: none;
	}

nav a:link{
		margin:0 1em;
	}

#logo {
	float: none;
	margin: auto;
}

#nav {
	float: none;
	margin: auto;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}
